.sidebar-wrap {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 60px;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.footer {
  color: #a2a9c4;
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 60%;
}
