.home {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9ff;
  padding-bottom: 5rem;
}
.intro {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.intro-txt {
  font-size: 18px;
  margin-bottom: 0;
  color: #454360;
}
.intro-txt-para {
  font-size: 18px;
  font-family: Rubik, sans-serif;
  line-height: 1.7;
  margin-top: -20px;
}
.intro h1 {
  font-weight: 700;
  color: #353353;
  font-weight: 700px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 36px;
}
.intro-logo img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}
.intro-icon {
  color: "#FF4C60";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  gap: 12px;
}
.scroll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 15%;
}
.scroll > a {
  color: white;
}
.mouse_click {
  width: 21%;
}
.scroll_mouse {
  height: 4vh;
  border: 2px solid #353353;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scroll_mouse_dot {
  height: 1px;
  width: 1px;
  border: 2px solid #353353;
  border-radius: 50%;
  position: absolute;
}

@media (max-width: 768px) {
  .intro {
    height: 52%;
  }
  .intro-logo img {
    width: 150px;
    height: 150px;
  }
  .intro h1 {
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    margin-top: -33px;
    color: #353353;
    margin-top: 0 !important;
    font-family: Rubik, sans-serif;
    margin: 20px 0;
  }
  .intro-txt-parent {
    margin-top: -3rem;
  }
  .intro-txt {
    color: #454360;
    font-size: 18px;
    font-family: Rubik, sans-serif;
  }
  .intro-icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .btn_text {
    margin-top: -2rem;
  }
  .scroll_mouse {
    border: 2px solid #353353;
    border-radius: 16px;
    display: block;
    height: 26px;
    margin: 10px auto auto;
    position: relative;
    width: 20px;
    position: absolute;
    top: 85%;
  }
  .home {
    margin-bottom: 0rem;
  }
}
